/* Estilos para a galeria */
.gallery-container {
  display: flex;
  overflow-x: auto;
  height: 96vh; /* Definindo a altura da galeria com base na altura da página */
  white-space: nowrap;
  align-items: center;
}

/* Estilo para os links (elementos <a>) que contêm as imagens e vídeos */
.gallery-container a {
  display: flex;
  justify-content: center; /* Centraliza a imagem/vídeo */
  align-items: center; /* Centraliza a imagem/vídeo */
  height: 100%; /* O link ocupa 100% da altura do container */
  width: auto; /* A largura do link é ajustada automaticamente */
}

/* Estilo para imagens e vídeos dentro da galeria */
.gallery-container img,
.gallery-container video {
  max-height: 100%; /* Limita a altura da imagem/vídeo ao tamanho do link (que é 100% da altura do container) */
  max-width: auto; /* Limita a largura da imagem/vídeo ao tamanho do link */
  object-fit: contain; /* Garante que a imagem ou vídeo se ajuste sem distorcer */
  margin-right: 5px; /* Espaçamento entre os elementos */
}
