/* Estilos para a galeria */
.gallery-container {
  display: flex;
  overflow-x: auto;
  height: 350px;
  white-space: nowrap;
  align-items: center;
}

.gallery-container img,
.gallery-container video {
  height: 325px;
  object-fit: contain;
  margin-right: 15px;
}